.leaderboard-icon {
  margin-left: -35px;
  margin-top: 5px;
  position: absolute;
  font-weight: 800;
}

.leaderboard-icon-1 {
  color: goldenrod;
}
.leaderboard-icon-2 {
  color: silver;
}
.leaderboard-icon-3 {
  color: chocolate;
}

.table th {
  color: #d36e09e3;
  font-size: larger;
}

.table td {
  color: #d36e09e3;
}
