.navbar {
  height: 100%;
  background: linear-gradient(172deg, #0e376280 22%, #2a86a5 75%);
  box-shadow: whitesmoke 1px -1px 10px 1px;
  z-index: 999;
}

.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
